---
import Layout from "../../layouts/Layout.astro";
import { JsonFormatter } from "../../components/react/JsonFormatter";

---

<Layout title="json formatter" keywords="json tree, pretty json, json format, code beautify, 格式化" description="一款用于格式化json文件的在线工具，方便阅读json文件">
  <main>
        <JsonFormatter client:only="react"></JsonFormatter>
  </main>
</Layout>
