html {
  background: #054b4d;
  color: #f1f5f9;
  font-family: 'mono fangsong';
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

/* 导航样式 */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #042231;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 6px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  text-transform: capitalize;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #dbbe7b;
  color: #072c2a;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

/* 导航样式 */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #072c2a;
}

/* for dark */
html.dark {
  background-color: #070707;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  background-color: #521c32 ;
}

main {
  margin: auto;
  padding: 1rem;
  width: 1000px;
  max-width: calc(100% - 2rem);
  color: #9ca3af;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: burlywood;
  line-height: 1;
  text-align: left;
  margin-bottom: 1em;
  margin-top: 1em;
}

.dark h1 {
  color: rgb(255, 255, 255);
}

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%);
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}