---
import Layout from "../layouts/Layout.astro";

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Next",
  "Angular",
  "Typescript",
  "Node",
  "Express",
  "Nginx",
  "Mongodb",
  "Markdown",
];

const outputs: any[] = [
  // { label: "gitlines", target: "#" },
  // { label: "pwd", target: "#" },
  // { label: "meow", target: "#" },
  // { label: "start", target: "#" },
];

const contacts = [
  {
    label: "github.com/luludevcn/lululog",
    target: "https://github.com/luludevcn/lululog",
  },
  { label: "luludevcn@gmail.com", target: "mailto:luludevcn@gmail.com" },
];
---

<Layout title="Lulu's impression">
  <main>
    <h1>Me</h1>
    <div class="gap-4 text-gray-400 capitalize">
      <p>A full stack engineer,</p>
      <p>To be React / Node follower,</p>
      <p>Like typescript since met with java,</p>
      <p>Hope I can share something useful with you!</p>
    </div>
    <hr class="border-gray-400 mt-5" />
    <h1>Skills</h1>
    <div class="flex flex-wrap gap-4">
      {
        skills.map((skill) => (
          <span class="flex shadow-lg p-3 text-gray-400 capitalize bg-opacity-20 bg-pink-800 rounded">
            {skill}
          </span>
        ))
      }
    </div>
    <hr class="border-gray-400 mt-5" />
    <h1>Output</h1>
    <div class="flex flex-wrap gap-4">
      {
        outputs.length
          ? outputs.map((output) => (
              <span class="flex shadow-lg p-3 text-red-400 uppercase bg-opacity-30 bg-pink-800 rounded hover:underline cursor-pointer">
                {output.label}
              </span>
            ))
          : (<p class="text-gray-400">Comming Soon ...</p>)
      }
    </div>
    <hr class="border-gray-400 mt-5" />
    <h1>Contact</h1>
    <div class="gap-4 flex flex-wrap">
      {
        contacts.map((contact) => (
          <a
            href={contact.target}
            target="_blank"
            class="flex shadow-lg p-3 text-gray-400 bg-opacity-20 bg-pink-800 rounded hover:underline"
          >
            {contact.label}
          </a>
        ))
      }
    </div>
  </main>
</Layout>
