---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="My logs">
	<main>
		<h1>我的 Astro 学习博客</h1>
		<p>在这里，我将分享我的学习 Astro 之旅。</p>
		<ul>
			{
				allPosts.map((post) => (
					<BlogPost url={post.url} title={post.frontmatter.title} />
				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
