---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CodeBlock from "../components/CodeBlock.astro";
const code = `const name = 'Lulu dev';
const sayHello(whois) => {
	console.log('Welcome to ' + whois);
}
sayHello(name);
`;
import { slogons } from "../constants/slogons";
---

<Layout title="开源开发">
	<main>
		<h1
			class="text-gray-300 leading-relaxed justify-between flex flex-wrap"
		>
			<span class="text-gradient font-sans">程序员的开发日志</span><span
				class="text-sm text-gray-400 mt-6 align-baseline"
				>{slogons[Math.floor(Math.random() * slogons.length)]}</span
			>
		</h1>
		<CodeBlock code={code} lang={"ts"} />
		<div>我的记录</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="/level/node/"
				title="NodeJS开发系列"
				body="收录NodeJS开发过程中常见的工具、方法及问题"
			/>
			<Card
				href="/level/debug/"
				title="探秘系列"
				body="尝试一些新东西，吃螃蟹还是踩坑，这不是问题"
			/>
		</ul>
		<div>我的产品</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="/level/node/"
				title="浏览器扩展插件"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="/level/node/"
				title="桌面工具"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="/level/node/"
				title="常用web工具"
				body="Explore a galaxy of community-built starter themes."
			/>
		</ul>
		<div>我的世界</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="/myworld"
				title="开发以外"
				body="读书还是健身，文旅好过摆烂❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
