---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("./posts/*.md*");
---

<Layout title="我的记录" description="开发日志集中地" keywords="logs, develop, stack">
	<main>
		<ul>
			{
				allPosts.toReversed().map((post) => (
					<BlogPost description={post.frontmatter.description} pubDate={post.frontmatter.pubDate} url={post.url} title={post.frontmatter.title} />
				))
			}
		</ul>
	</main>
</Layout>

