---
const platform = "github";
const username = "luludevcn";
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer
    class="fixed left-0 bottom-0 h-10 leading-9 bg-white w-full justify-center"
>
    <p>2024 © luludevcn</p>
    <!-- <Social platform={platform} username={username} /> -->
</footer>
