---
---
<div class="nav-links text-gray-400 text-left">
  <a href="/">Home</a>
  <a href="/logs/">Logs</a>
  <a href="/level/">Level</a>
  <a href="/products/">Products</a>
  <a href="/about/">Me</a>
</div>