---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
interface Props {
	title: string;
	keywords?: string;
	description?: string;
}

const { title='开源开发',keywords='全栈开发,Nodejs,react,typescript,css,javascript,旅游，读书，见闻',description='前端,全栈开发,Nodejs,react,angular,javascript,typescript,css,html，要么读书，要么健身，要么旅游，一直在路上' } = Astro.props;
const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="baidu-site-verification" content="codeva-oeTsHTdcjc" />
		<meta
			name="description"
			content={description}
		/>
		<meta
			name="keywords"
			content={keywords}
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="baidu_union_verify" content="7a742ef3ff07d7d9c0dd2e98e91ca2a1">
		<meta
			name="google-site-verification"
			content="SGbZh_3h9aOC3p6NGDz4XEe_aNk_5WTqybu4GCGVsK4"
		/>

{isProd && <script is:inline>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?5df9ac8c5f8fb6d3917fe51154e3965a";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
	<script
		async
		src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9382467735244088"
		crossorigin="anonymous"
		is:inline></script>}


		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<hr class="border-gray-400 mt-5" /></body
	>
	<slot />
	
	<Footer />
	<script>
		import "../script/menu";
	</script>

{isProd && 	<!-- Google tag (gtag.js) -->
	<script
		is:inline
		async
		src="https://www.googletagmanager.com/gtag/js?id=G-ZC2F92N8GX"></script>
	<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-ZC2F92N8GX");
	</script>
}

</html>
